<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Employee Details
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Employee Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         

        <div>
          <form [formGroup]="employeeForm">
            <div>
              <label>
                Employee Name:
                <input type="text" formControlName="employeeName">
              </label>
            </div>
            <div>
              <label>
                Employee salary:
                <input type="text" formControlName="employeeSalary">
              </label>
            </div>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveEmployeeData()">Save Details</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12">  
    <h2> User Details</h2>  
    <div class="table-responsive table-container">  
      <table class="table">  
        <thead>  
          <tr>  
             
            <th>Employee Name</th>  
            <th>Employee Salary</th>  
          
          </tr>  
        </thead>  
        <tbody>  
          <tr *ngFor="let product of products">   
            <td>{{product.employeeName}}</td>  
            <td>{{product.employeeSalary}}</td>    
            <td>  
              <button (click)="deleteEmp(product)" class="btn btn-info"> Delete</button>  
              <button (click)="editEmp(product)" style="margin-left: 20px;" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal"> Edit</button>  
            </td>  
          </tr>  
        </tbody>  
      </table>  
    </div>  
  </div>  
